pre code {
    font-size: small;
    padding: 0;
}



.list-of-tags {
    column-count: 3;
    font-size: x-large;
}


@media screen and (max-width: 1200px) {

    .custom-footer {
        display: inline; 
        text-align:center;
    }

    .list-of-tags {
        column-count: 1;
    }

}